.flex_pictures {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding-top: 50px;
  width: 100%;
  .content_pictures {
    column-count: 3;
  }
  .sppiner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
}
